{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <style>


        .list_film, .list_number {
            color: #4C5B5C;
            cursor: pointer; cursor: hand;
        }

        .card{
            padding : 30px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">

                <h1>Topic : {% for item in mood %}{{ item.title }}{% endfor %}</h1>
        <p style="font-size: 18px;"><i>{% for item in mood %}{{ item.definition }}{% endfor %}</i></p>

        {#<article>#}
            {#<h2>List of movies with {% for item in mood %}{{ item.title }}{% endfor %} mood</h2>#}

            {#<div class="liste row">#}
                {#{% for film in films  %}#}
                    {#<div class="card horizontal col s4 ">#}
                        {#{% if film.imdb %}#}
                        {#<img src="http://img.omdbapi.com/?i={{ film.imdb }}&apikey=1733f6a&h=100" alt="poster">#}
                        {#{% endif %}#}
                        {#<a href="{{ path('film', {'filmId' : film.filmId}) }}"><h3>{{ film.filmTitle }} ({{  film.nb }})</h3></a>#}
                    {#</div>#}
                {#{% endfor %}#}
            {#</div>#}
        {#</article>#}

        {#<article>#}
            {#<div id="chart_div"></div>#}

        {#</article>#}
        <article class="card card_thematique">
          <h2>Chronology</h2>
          <p class="intro-description">Production numbers per year</p>
          <iframe src="http://labex-arts-h2h.univ-paris8.fr/app/kibana#/visualize/edit/18d7de50-ca0f-11e7-bfba-5d46dea657a3?embed=true&_g=()&_a=(filters:!(),linked:!f,query:(match_all:()),uiState:(vis:(colors:('All+numbers':%23FCE2DE,'Danced+numbers':%2365C5DB,Type:%23BA43A9,'performance_thesaurus:*':%23FCE2DE),legendOpen:!t)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'2h',customLabel:'',extended_bounds:(),field:film.released,interval:y,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(filters:!((input:(query:(query_string:(query:'performance_thesaurus:*'))),label:'All+numbers'),(input:(query:(query_string:(query:'genre:%22{% for item in mood %}{{ item.title }}{% endfor %}%22'))),label:''))),schema:group,type:filters)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,categoryAxes:!((id:CategoryAxis-1,labels:(show:!t,truncate:100),position:bottom,scale:(type:linear),show:!t,style:(),title:(text:'film.released+per+year'),type:category)),grid:(categoryLines:!f,style:(color:%23eee)),legendPosition:right,seriesParams:!((data:(id:'1',label:Count),drawLinesBetweenPoints:!t,mode:normal,show:true,showCircles:!t,type:line,valueAxis:ValueAxis-1)),times:!(),valueAxes:!((id:ValueAxis-1,labels:(filter:!f,rotate:0,show:!t,truncate:100),name:LeftAxis-1,position:left,scale:(mode:normal,type:linear),show:!t,style:(),title:(text:Count),type:value))),title:'%5BTopic%5D+Topic+pages+2-dynamique+-+timeline',type:line))" height="600" width="100%">
          </iframe>
        </article>

        <article class="card card_thematique">
            <h2>List of numbers</h2>

            <div id="table_one_mood" class="row">
                <input class="search" placeholder="Search" />
                <table class="striped medium-table">
                    <thead>
                    <tr>
                        <th onclick="sortPerso(this, 'list_number')" data-cpt="0">Number<i class="material-icons icone_perso">arrow_drop_down</i></th>
                        <th onclick="sortPerso(this, 'list_film')" data-cpt="0">Film<i class="material-icons icone_perso">arrow_drop_down</i></th>
                        <th onclick="sortPerso(this, 'list_release_date')" data-cpt="0">Release Date<i class="material-icons icone_perso">arrow_drop_down</i></th>
                        <th onclick="sortPerso(this, 'list_studio')" data-cpt="0">Studio<i class="material-icons icone_perso">arrow_drop_down</i></th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for number in numbers  %}
                        <tr>
                            <td onclick="window.location.href='{{ path('number', {'id' : number.id}) }}';" class="list_number">{{ number.title }}</td>
                            <td onclick="window.location.href='{{ path('film', {'filmId' : number.film.filmId}) }}';" class="list_film">{{ number.film.title }}</td>
                            <td class="list_release_date">{{ number.film.released }}</td>
                            <td class="list_studio">
                                {% for studio in number.film.studios %}
                                    {{ studio.title }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination"></ul>
            </div>
        </article>


        <article class="card card_thematique">

            <h2 style="margin-bottom: 35px;">Sources</h2>

        <div id="div_donut" class="col s12 row" style=" height: 400px;">
            <svg></svg>
        </div>

        </article>



    </section>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/vendor/list.js/docs/assets/javascripts/list.min.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('js/donut_simple.js') }}"></script>


    <script>

    {% if numbers|length < 16 %}

        var options = {
        valueNames: ['list_number', 'list_film', 'list_release_date', 'list_studio']
        };

    {% endif %}


    {% if numbers|length > 15 %}

        var options = {
        valueNames: ['list_number', 'list_film', 'list_release_date', 'list_studio'],
        };

    {% endif %}

    var numberList = new List('table_one_mood', options);

    {#google.charts.load("current", {packages:["corechart"]});#}
    {#google.charts.setOnLoadCallback(drawChart);#}

    {#function drawChart() {#}

        {#var data = google.visualization.arrayToDataTable([#}
            {#['Name', 'Occurences'],#}
            {#{% for item in sources %}#}
            {#['{{ item.label }}', {{ item.value }}],#}
            {#{% endfor %}#}
        {#]);#}

        {#var options = {#}
            {#title: 'Sources of {% for item in mood %}{{ item.title }}{% endfor %} numbers',#}
            {#pieHole: 0.4#}
        {#};#}

        {#var chart = new google.visualization.PieChart(document.getElementById('div_donut'));#}
        {#chart.draw(data, options);#}
    {#}#}

    </script>

    <script>
        function sortPerso(element, col) {

            if (element.dataset.cpt%2 == 0) {
                numberList.sort(col, {order : "asc"});
                element.dataset.cpt++;
            } else {
                numberList.sort(col, {order : "desc"});
                element.dataset.cpt++;
            }
        }
    </script>


    <script>
        donut_simple_avec_legende("div_donut svg", {{ sources.content|raw }});
    </script>
    {#<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}
    {#<script type="text/javascript">#}
        {#google.charts.load("current", {packages:["corechart"]});#}
        {#google.charts.setOnLoadCallback(drawChart);#}
        {#function drawChart() {#}
            {#var data = google.visualization.arrayToDataTable([#}
                {#['Name', 'Occurences'],#}
                {#{% for item in exoticismByYear  %}#}
                {#['{{ item.released }}' , {{ item.nb }}],#}
                {#{% endfor %}#}
            {#]);#}

            {#var options = {#}
                {#title: 'Number of exoticism by year',#}
                {#legend: { position: 'none' },#}
            {#};#}
            {#var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));#}
            {#chart.draw(data, options);#}

        {#}#}
    {#</script>#}

{% endblock %}
