{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("assets/vendor/swiper/dist/css/swiper.css") }}">


{{parent()}}
<style>
  .parallax-container{
    min-height: 370px;
    height: auto;
    margin-top:0px;
    margin-bottom: 0px;
  }

  input{
    color:white;
  }

  .card{
    padding:30px;
  }

  .poster{
    max-height:300px;
  }

  .myCard{
    padding : 0px 20px;
  }

  .film{
    height : 400px;
    padding :10px;
  }

  #filmsWithNumbers{
    padding-top: 2em;
    background:#f7f7f7;
  }

  .myBtn{
    background-color:white;
    border: 1px solid #4D5D5D;
    color : #4D5D5D;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    margin-bottom: 5px;
    text-transform: none;
  }

  .filmsHidden{
    display :none;
  }

  .box{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-top: 110px;
  }

  #persons, #numbers, #songs{
    /*min-height:450px;*/
    max-height:100vh;
  }

  #songs{
    background: #00ff00 url("{{ asset('img/intro.gif') }}");
    background-size:100%;
    color: black;
  }


  .posterImage{
    height : 300px;
  }

  .valign{
    margin-top : 35px;
  }

a {
  text-decoration: none;
}

.active-mark {
  background-color: #db5462;
  width: 20%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 52px;
  -webkit-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}

</style>

{% endblock %}


{% block body %}

  <section class="section-search">
    <div class="section-search__wrapper">
      <div class="section-search__buttons">
        <button class="section-search__button" data-selector="film">Movie</button>
        <button class="section-search__button" data-selector="number">Number</button>
        <button class="section-search__button" data-selector="song">Song</button>
        <button class="section-search__button" data-selector="person">Person</button>
        <button class="section-search__button" data-selector="stageshow">Stageshow</button>
      </div>
      <div class="section-search__search-container section-search__search-container--film">
        <div class="section-search__filter"></div>
        <h3 class="section-search__entitled">Search a film</h3>
        <input class="section-search__input" type="text" id="searchMovie" placeholder ="Write the title of a film (3 characters min)">
      </div>
      <div class="section-search__search-container section-search__search-container--number">
        <div class="section-search__filter"></div>
        <h3 class="section-search__entitled">Search a number</h3>
        <input class="section-search__input" type="text" id="searchNumber" placeholder ="Write the title of a number (3 characters min)">
      </div>
      <div class="section-search__search-container section-search__search-container--song">
        <div class="section-search__filter"></div>
        <h3 class="section-search__entitled">Search a song</h3>
        <input class="section-search__input" type="text" id="searchSong" placeholder ="Write the name of a song (3 characters min)">
      </div>
      <div class="section-search__search-container section-search__search-container--person">
        <div class="section-search__filter"></div>
        <h3 class="section-search__entitled">Search a person</h3>
        <input class="section-search__input" type="text" id="searchPerson" placeholder ="Write the name of a person (3 characters min)">
      </div>
      <div class="section-search__search-container section-search__search-container--stageshow">
        <div class="section-search__filter"></div>
        <h3 class="section-search__entitled">Search a stageshow</h3>
        <input class="section-search__input" type="text" id="searchShow" placeholder ="Write the name of a stageshow (3 characters min)">
      </div>
    </div>
  </section>

  <section class="section-search-results">
    <article id="results" class="row myCard"></article>
    <article id="resultsNumber" class="row myCard"></article>
    <article id="resultsSong" class="row myCard"></article>
    <article id="resultsPerson" class="row myCard"></article>
    <article id="resultsShow" class="row myCard"></article>
  </section>

  <section class="section-stats">
    <div class="section-stats__wrapper">
      <h2 class="section-stats__title">Corpus Description</h2>
      <div class="section-stats__stats">
        <div class="section-stats__stat">
          <div class="section-stats__number">{{films|length}}</div>
          <div class="section-stats__type">Films</div>
        </div>
        <div class="section-stats__stat">
          <div class="section-stats__number">{{ filmsWithNumber|length }}</div>
          <div class="section-stats__type">Films with numbers</div>
        </div>
        <div class="section-stats__stat">
          <div class="section-stats__number">{{numbers|length}}</div>
          <div class="section-stats__type">Production numbers</div>
        </div>
<!--         <div class="section-stats__stat">
          <div class="section-stats__number">123</div>
          <div class="section-stats__type">Songs(fake data)</div>
        </div> -->
      </div>
<a href="{{ path('content') }}">
        <button class="section-stats__button">
        Database contents
        </button>
      </a>
    </div>
  </section>

  <section class="section-themes">
    <div class="section-themes__wrapper">
      <h2 class="section-themes__title">Themes</h2>
      <div class="section-themes__themes">
        <a href="{{ path("getMusic") }}">
          <div class="section-themes__theme section-themes__theme--music">
            <h3 class="section-themes__theme-name">Music</h3>
          </div>
        </a>
        <a href="{{ path("getDancing") }}">
          <div class="section-themes__theme section-themes__theme--dance">
            <h3 class="section-themes__theme-name">Dance</h3>
          </div>
        </a>
        <a href="{{ path("getExoticism") }}">
          <div class="section-themes__theme section-themes__theme--exoticism">
            <h3 class="section-themes__theme-name">Exoticism</h3>
          </div>
        </a>
        <a href="{{ path("getMood") }}">
          <div class="section-themes__theme section-themes__theme--topics">
            <h3 class="section-themes__theme-name">Topics</h3>
          </div>
        </a>
        <a href="{{ path("censorship") }}">
          <div class="section-themes__theme section-themes__theme--censorship">
            <h3 class="section-themes__theme-name">Censorship</h3>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="section-films">
    <div class="section-films__wrapper">
      <h2 class="section-films__title">Films with data</h2>
      <div class="section-films__films">
        {% for film in filmsWithNumber |slice(0,10) %}
        <a class="section-films__film" href="{{ path('film', {'filmId' : film.filmId}) }}">
          <h4 class="section-films__film-name">{{film.title}} ({{film.released}})</h4>
          <div class="section-films__centered-cropped">
            <img class="section-films__film-poster" src="{{ asset('img/films/'~ film.idImdb ~'.jpg') }}" alt="poster">
          </div>
        </a>
        {% endfor %}
        {% for film in filmsWithNumber |slice(10) %}
        <a class="section-films__film hidden" href="{{ path('film', {'filmId' : film.filmId}) }}">
          <h4 class="section-films__film-name">{{film.title}} ({{film.released}})</h4>
          <div class="section-films__centered-cropped">
            <img class="section-films__film-poster" src="{{ asset('img/films/'~ film.idImdb ~'.jpg') }}" alt="poster">
          </div>
        </a>
        {% endfor %}
      </div>
      <button id="section-films__button">Show all</button>
    </div>
  </section>

  {#<div class="parallax-container">#}
    {#<br><br>#}
    {#<div class="parallax"><img src="{{ asset('img/star.png') }}"></div>#}
    {#<section class="container">#}
      {#<div class="col s12">#}
        {#<h1>Statistiques</h1>#}
      {#</div>#}
    {#</section>#}
  {#</div>#}

  {#<div class="parallax-container">#}
    {#<br><br>#}
    {#<div class="parallax"><img src="{{ asset('img/star.png') }}"></div>#}
    {#<section class="container">#}
      {#<div class="col s12">#}
        {#<h1>Censorship</h1>#}
      {#</div>#}
    {#</section>#}
  {#</div>#}

  {#<div class="parallax-container">#}
    {#<br><br>#}
    {#<div class="parallax"><img src="{{ asset('img/star.png') }}"></div>#}
    {#<section class="container">#}
      {#<div class="col s12">#}
        {#<h1>Stats</h1>#}
      {#</div>#}
    {#</section>#}
  {#</div>#}

{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script src="{{ asset("assets/vendor/react/react.js") }}"></script>
  <script src="{{ asset("assets/vendor/react/react-dom.js") }}"></script>
  <script src="{{ asset("assets/vendor/babel/browser.min.js") }}"></script>
  <script type="text/javascript" src="  https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.2/js/swiper.min.js"></script>


  {#<script src="{{ asset("assets/vendor/swiper/dist/js/swiper.js") }}"></script>#}
  {#<script src="{{ asset("assets/vendor/swiper/dist/js/swiper.jquery.js") }}"></script>#}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script>



    function searchMovie(){

    $("#searchMovie").keyup(function(){
      input = $("#searchMovie").val();

      var selection = [];

      jQuery.when(
              jQuery.getJSON('/api/films/')
      ).done(function (json){

        if (input.length > 2){
          for(var i= 0; i < json.films.length;i++){
            // if(input == json.films[i].title)

            str = json.films[i].title;

            //en cas de null dans la BD
            if (str == null){
              str = "null";
            }

            str = str.toLowerCase();
            input = input.toLowerCase();

            if (str.indexOf(input)> -1)
            {
               console.log(input+"ca marche"+json.films[i].title);
              res = json.films[i];
              selection.push(res);
//               console.log(selection);
            }
          }
        } else {
            $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
        }


        if (selection.length > 0){
          $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
          $("#results").show();
          $("#results").html("<div class='col s12'><h2>Result(s)</h2></div>");
          for(var i = 0; i < selection.length ; i++){
            txt = "<a href='/film/id/"+selection[i]['filmId']+"'><span class='btn myBtn' title='"+selection[i]['title']+" ("+selection[i]['released']+")'>"+selection[i]['title']+" ("+selection[i]['released']+")</span></a>";
            $("#results").append(txt);
          }
        }

      });
    });

    }

    function searchPerson(){

      $("#searchPerson").keyup(function(){
        input = $("#searchPerson").val();

        var selection = [];

        jQuery.when(
                jQuery.getJSON('/api/persons/')
        ).done(function (json){

          if (input.length > 2){
            for(var i= 0; i < json.person.length;i++){
              // if(input == json.films[i].title)

              str = json.person[i].name;

              str = str.toLowerCase();
              input = input.toLowerCase();

              if (str.indexOf(input)> -1)
              {
                // console.log(input+"ca marche"+json.films[i].title);
                res = json.person[i];
                selection.push(res);
                // console.log(selection);
              }
            }
          } else {
            $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
          }


          if (selection.length > 0){
            $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()

            $("#resultsPerson").html("<div class='col s12'><h2>Result(s)</h2></div>");
            $("#resultsPerson").show();
            for(var i = 0; i < selection.length ; i++){
              txt = "<a href='person/"+selection[i].personId+"'><span class='btn myBtn' title='"+selection[i]['name']+"'>"+selection[i]['name']+"</span></a>";
              $("#resultsPerson").append(txt);
            }
          }
        });
      });

    }

    function searchNumber(){

      $("#searchNumber").keyup(function(){
        input = $("#searchNumber").val();

        var selection = [];

        jQuery.when(
                jQuery.getJSON('/api/numbers/')
        ).done(function (json){

          if (input.length > 2){
            for(var i= 0; i < json.number.length;i++){
              // if(input == json.films[i].title)

              str = json.number[i].title;

              str = str.toLowerCase();
              input = input.toLowerCase();

              if (str.indexOf(input)> -1)
              {
                // console.log(input+"ca marche"+json.films[i].title);
                res = json.number[i];
                selection.push(res);
              }
            }
          } else {
            $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
          }


          if (selection.length > 0){
          $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
            $("#resultsNumber").html("<div class='col s12'><h2>Result(s)</h2></div>");
            $("#resultsNumber").show();
            for(var i = 0; i < selection.length ; i++){
              txt = "<a href='number/"+selection[i]['id']+"'><span class='btn myBtn' title='"+selection[i]['title']+" - "+selection[i]['film']+" ("+selection[i]['released']+")'>"+selection[i]['title']+" - "+selection[i]['film']+" ("+selection[i]['released']+")</span></a>";
              $("#resultsNumber").append(txt);
              $("#resultsNumber").css('padding-bottom','20px');
            }
          }
        });
      });

    }

    function searchShow(){

        $("#searchShow").keyup(function(){
            input = $("#searchShow").val();

            var selection = [];

            jQuery.when(
                jQuery.getJSON('/api/stageshows')
            ).done(function (json){

                if (input.length > 2){

                    for(var i= 0; i < json.stageshows.length;i++){

                        str = json.stageshows[i].title;

                        str = str.toLowerCase();
                        input = input.toLowerCase();

                        if (str.indexOf(input)> -1)
                        {
                            // console.log(input+"ca marche"+json.films[i].title);
                            res = json.stageshows[i];
                            selection.push(res);
                        }
                    }
                } else {
                  $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
                }

                if (selection.length > 0){
                    $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
                    $("#resultsShow").html("<div class='col s12'><h2>Result(s)</h2></div>");
                    $("#resultsShow").show();
                    for(var i = 0; i < selection.length ; i++){
                        txt = "<a href='stageshow/id/"+selection[i]['stageshowId']+"'><span class='btn myBtn' title='"+selection[i]['title']+"'>"+selection[i]['title']+"</span></a>";
                        $("#resultsShow").append(txt);
                    }
                }
            });
        });

    }


    function searchSong(){

      $("#searchSong").keyup(function(){
        input = $("#searchSong").val();

        var selection = [];

        jQuery.when(
                jQuery.getJSON('/api/songs/')
        ).done(function (json){

          if (input.length > 2){
            for(var i= 0; i < json.song.length;i++){
              // if(input == json.films[i].title)

              str = json.song[i].title;

              str = str.toLowerCase();
              input = input.toLowerCase();

              if (str.indexOf(input)> -1)
              {
                // console.log(input+"ca marche"+json.films[i].title);
                res = json.song[i];
                selection.push(res);
                // console.log(selection);
              }
            }
          } else {
            $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()
          }


          if (selection.length > 0){
          $("#results, #resultsNumber, #resultsSong, #resultsPerson, #resultsShow").hide()

            $("#resultsSong").html("<div class='col s12'><h2>Result(s)</h2></div>");
            $("#resultsSong").show();
            for(var i = 0; i < selection.length ; i++){
              txt = "<a href='song/id/"+selection[i]['songId']+"'><span class='btn myBtn' title='"+selection[i]['title']+">"+selection[i]['title']+"</span></a>";
              $("#resultsSong").append(txt);
            }
          }
        });
      });

    }


    searchMovie();
    searchPerson();
    searchNumber();
    searchSong();
    searchShow();

    $("#section-films__button").click(
            function(){
              $(this).hide();
              $(".section-films__film.hidden").fadeIn();
              $("#section-films__button").hide();
            }
    )
    $(document).ready(function() {
      $(".section-search__search-container--number, .section-search__search-container--song, .section-search__search-container--person, .section-search__search-container--stageshow").hide();
      $('.section-search__button[data-selector="film"]').addClass('section-search__button--selected');

      $('.section-search__button').click(function() {
        var blockName = $(this).data('selector');
        $('.section-search__button--selected').removeClass('section-search__button--selected');
        $(this).addClass('section-search__button--selected');
        $('.section-search__search-container').hide();
        $('.section-search__search-container--' + blockName).show();
      });
    });

  </script>


  <script>
    var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			slidesPerView: 1,
			paginationClickable: true,
			loop: true,
       		paginationBulletRender: function (index, className) {
				var tabsName = ['Movie', 'Number', 'Song', 'Person', 'Stageshow'];
				if ( index === (tabsName.length - 1) ) {
          				return	'<span class="' + className + '">'
          						+ tabsName[index] + '</span>'
          						+ '<div class="active-mark "></div>';
				}
				return '<span class="' + className + '">' + tabsName[index] + '</span>';
        		}
		});
  </script>

{% endblock %}
